body {
    background-color: #F9FAFC;
    padding-top: 70px
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.navbar{
    border-bottom: 2px black solid;
}
.navbar li{
    transition: 0.3s;
    border-radius: 15px;
}
.navbar li:hover {
    background-color: gray;
}

.card {
    border: none;
    background-color: transparent;
}

.card-title{
    border-bottom: 1px solid black;
}

.image-container {
    position: relative;
}

.image_image{
    height: 300px;
    object-fit: contain;
    width: 100%;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
    border-radius: 4px;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.post-link {
    text-decoration: none;
    color: #445261;
    transition: 0.3s;
    border-bottom: 2px solid black;
}

#postEdit,
#postDelete {
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 10px;
    display: block;
}

.post-link:hover{
    background-color: wheat;
    color: #445261;
}

.post-title {
    margin-top: 2%;
    margin-left: 10%;
}   
.post-subtitle{
    margin-bottom: 2%;
    margin-left: 10%;
}
.post-info {
    border-radius: 10px;
}

.post-image{
    margin-top: 10px;
    object-fit: contain; 
    max-height: 500px;  
    background: #fff;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}