:root {
  --primary--color: #353535;
  --secondary-color: #ffffff;
  --tertiary-color:#d2d7df;
  --quaternary-color:#bdbbb0;
  --quinary-color:#8a897c;
}

/*base.html*/

body {
    background-color: var(--secondary-color);
    padding-top: 70px
}

.navbar{
    border-bottom: 2px black solid;
}
.navbar li{
    transition: 0.3s;
    border-radius: 15px;
}
.navbar li:hover {
    background-color: gray;
}

/*index.html*/

.card {
    border: none;
    background-color: transparent;
}

.card-title{
     border-bottom: 1px solid black
}

.image-container {
    position: relative;
}

.post-image{
    height: 300px;
    object-fit: contain;
    width: 100%;
}

.post-link {
    text-decoration: none;
    color: #445261;
    transition: 0.3s;
    border-bottom: 2px solid black;
}

/*post_detail.html*/

.post-detail-image{
    width: 80%;
}


.author {
    margin-bottom: 2px;
}

.created-on{
    margin-bottom: 2px;
}

#postEdit,
#postDelete {
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 10px;
    display: block;
}

.post-link:hover{
    background-color: wheat;
    color: #445261;
}

.post-title,
.post-detail-title{
    margin-top: 2%;
    margin-left: 10%;
}   
.post-author,
.post-detail-author{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    font-size: 150%;
}

.post-detail-text{
    margin-top: 2%;
    margin-left: 10%;
    font-size: 150%;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}