:root {
  --primary-color: #353535;
  --secondary-color: #ffffff;
  --tertiary-color:#d2d7df;
  --quaternary-color:#bdbbb0;
  --quinary-color:#8a897c;
}

/*base.html*/

body {
    background-color: var(--quaternary-color);
    padding-top: 70px;
    color: var(--primary-color);
}

.navbar{
    background-color: var(--primary-color) !important;
    border-bottom: 2px black solid;
    padding: 0px 20px 0px 0px !important;
}

.navbar a{
    color: var(--secondary-color) !important;
    transition: 0.3s;
    border-radius: 15px;
    margin-right: 10px;
}
.navbar a:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color) !important;
}

#pettit-icon {
    max-height: 80px;
}
.navbar .navbar-brand:hover {
    background-color: transparent !important;
}

/*index.html*/

.card {
    border: none;
    background-color: transparent;
}

.card-title{
     border-bottom: 1px solid black
}

.image-container {
    position: relative;
}

.post-image{
    height: 300px;
    object-fit: contain;
    width: 100%;
}

.post-link {
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.3s;
    border-radius: 30px;
}

.card-bottom{
    margin: 10px 0px;
    border-bottom: 2px solid black;
}

/*post_detail.html*/

.author {
    margin-bottom: 2px;
}

.created-on{
    margin-bottom: 2px;
}

#postEdit,
#postDelete {
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.post-link:hover{
    background-color: var(--tertiary-color);
    color: #445261;
}

.post-title,
.post-detail-title{
    margin-top: 2%;
}   
.post-author,
.post-detail-author{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 150%;
}

.post-detail-text{
    margin-top: 2%;
    margin-left: 10%;
    font-size: 150%;
}

.comment-count{
    font-size: 170%;
}

/*Auth*/

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: var(--primary-color);
}

.approval {
    color: rgb(212, 57, 101);
}

footer {
    background-color: var(--primary-color);
}